<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'toyota' %}">Тойота</a></li>
                <li><a href="{% url 'honda' %}">Хонда</a></li>
                <li><a href="{% url 'renault' %}">Рено</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>
</html>